
{% assign test_product = section.settings.selected_product %}
<!-- all_products[section.settings.product]/-->

<style>
	.product-test__color-circle{
		display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -73%);
	height: 20px;
	width: 20px;
	border-radius: 50%;
	z-index: 1;
	}
	.product-test__color-radio-btn{
		position: relative;
		height: 20px;
		width: 21px;
		opacity: 0.5;
		z-index: 6;
	}
	.product-test__color-block{
		position: relative;
	}
</style>

<div class="product-test__block"> 
	<div class="product-test__img">
{% if test_product.featured_image %}
	 {% if section.settings.checkbox-id %}
  <img 
    src="{{ test_product.featured_image | image_url: width: 200 }}" 
    width="200" 
    height="auto" 
    alt="{{ test_product.title }}"
    class="product-test__image"
  >
  {% for altimg in test_product.images %}
    {% if test_product.featured_image.alt == altimg.alt and test_product.featured_image.src != altimg.src %}
      <img 
        src="{{ altimg | image_url: width: 200 }}" 
        width="200" 
        height="auto" 
        alt="{{ test_product.title }}"
        class="product-test__image-alt"
      >
    {% endif %}
  {% endfor %}
{% else %}
  <img 
    src="{{ test_product.featured_image | image_url: width: 200 }}" 
    width="200" 
    height="auto" 
    alt="{{ test_product.title }}"
    class="product-test__image"
  >
{% endif %}
		
{% endif %}
	</div>
	<div class="product-test__info-block">
		
		<h2 class="product-test__title">{{ test_product.title}}</h2>
		<div class="product-test__price">{{ test_product.price | money }}</div>
 <legend class="product-test__color-title">Оберіть колір:</legend>



{% for option in test_product.options_with_values %}
  {% if option.name == 'Color' %}
    <div class="product-test__color-options">
      {% for value in option.values %}
		{% assign raw_image_url = '' %}
        {% assign image_url = '' %}
		{% assign image_alt_url = '' %}
        
        {%- for variant in test_product.variants -%}
          {% if variant.option1 == value and variant.image %}
			{% assign raw_image_url = variant.image.src %}
            {% assign image_url = variant.image.src | image_url %}
			{% assign image_alt_text = variant.image.alt  %}
            {% break %}
          {% endif %}
        {%- endfor -%}

		{%- for altImgArray in test_product.images -%}
          {% if altImgArray.alt == image_alt_text and altImgArray.src != raw_image_url %}
            {% assign image_alt_url = altImgArray.src | image_url %}
            {% break %}
          {% endif %}
        {%- endfor -%}
        
        <label class="product-test__color-block">
          <input type="radio" name="Color" value="{{ image_alt_text }}" class="product-test__color-radio-btn" data-img="{{ image_url }}" data-alt="{{ image_alt_url }}">
          <span class="product-test__color-circle" style="background-color:{{ value | downcase }};"></span>
        </label>
      {% endfor %}
    </div>
  {% endif %}
{% endfor %}

		<button class="product-test__button-buy">Купити продукт</button>
		<div class="product-test__desc">{{ test_product.description }}</div>
		{% if test_product.metafields.custom.instuction.value.size > 0 %}
					<label for="product-dropdown">Виберіть один додаток до продукту:</label>
					<select id="product-dropdown" name="product-dropdown">
						<option value="" disabled selected></option>
					  {% for option in test_product.metafields.custom.instuction.value %}
						<option value="{{ option }}">{{ option }}</option>
					  {% endfor %}
					</select>
				  {% endif %}
	</div>
</div>

<script>
	const wrapColorBtn = document.querySelector(".product-test__color-options");

wrapColorBtn.addEventListener("click", (e) => {
	 const urlImg = e.target.dataset.img;
	   const mainImg = document.querySelector(".product-test__image");
  if ({{ section.settings.checkbox-id }}) {
    if (e.target.classList.contains("product-test__color-radio-btn")) {
      const urlAltImg = e.target.dataset.alt;
      const altImg = document.querySelector(".product-test__image-alt");
      altImg.src = urlAltImg;
	  mainImg.src = urlImg;
	  console.log(urlAltImg)
    }
  } else {
    if (e.target.classList.contains("product-test__color-radio-btn")) {
      mainImg.src = urlImg;
	  console.log(urlImg)
    }
  }
});

  

</script>

{% schema %}
{
  "name": "Product test",
  "tag": "section",
  "class": "section product-test",
  "settings": [
	{
	"type": "header",
	"content": "Налаштування картки "
	},
	{
	"type": "product",
	"id": "selected_product",
	"label": "Виберіть продукт"
},
{
	"type": "header",
	"content": "Формат виведення картинок "
	},
	{
	"type": "checkbox",
	"id": "checkbox-id",
	"label": "Дві фотографії",
	"default":false
	}
  ],
  "presets": [
    {
      "name": "Product test"
    }
  ]
}
{% endschema %}

