
{% assign test_product = section.settings.selected_product %}
<!-- all_products[section.settings.product]/-->

<style>
	.product-test__color-circle{
		display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -73%);
	height: 20px;
	width: 20px;
	border-radius: 50%;
	z-index: 1;
	}
	.product-test__color-radio-btn{
		position: relative;
		height: 20px;
		width: 21px;
		opacity: 0.5;
		z-index: 6;
	}
	.product-test__color-block{
		position: relative;
	}
</style>

<div class="product-test__block"> 
	<div class="product-test__img">
		{% if test_product.featured_image %}
  <img 
    src="{{ test_product.featured_image | image_url: width: 200 }}" 
    width="200" 
    height="auto" 
    alt="{{ test_product.title }}"
	class="product-test__image"
  >
{% endif %}

	</div>
	<div class="product-test__info-block">
		<h2 class="product-test__title">{{ test_product.title}}</h2>
		<div class="product-test__price">{{ test_product.price | money }}</div>
 <legend class="product-test__color-title">Оберіть колір:</legend>

{% for option in test_product.options_with_values %}
  {% if option.name == 'Color' %}
    <div class="product-test__color-options">
      {% for value in option.values %}
        {% assign image_url = '' %}
        
        {%- for variant in test_product.variants -%}
          {% if variant.option1 == value and variant.image %}
            {% assign image_url = variant.image.src | image_url %}
            {% break %}
          {% endif %}
        {%- endfor -%}
        
        <label class="product-test__color-block">
          <input type="radio" name="Color" value="{{ value }}" class="product-test__color-radio-btn" data-img="{{ image_url }}">
          <span class="product-test__color-circle" style="background-color:{{ value | downcase }};"></span>
        </label>
      {% endfor %}
    </div>
  {% endif %}
{% endfor %}

		<button class="product-test__button-buy">Купити продукт</button>
		<div class="product-test__desc">{{ test_product.description }}</div>
		{% if test_product.metafields.custom.instuction.value.size > 0 %}
					<label for="product-dropdown">Виберіть один додаток до продукту:</label>
					<select id="product-dropdown" name="product-dropdown">
						<option value="" disabled selected></option>
					  {% for option in test_product.metafields.custom.instuction.value %}
						<option value="{{ option }}">{{ option }}</option>
					  {% endfor %}
					</select>
				  {% endif %}
	</div>
</div>

<script>
	const wrapColorBtn = document.querySelector(".product-test__color-options");
	  wrapColorBtn.addEventListener("click",(e)=>{
	if(e.target.className === "product-test__color-radio-btn"){
		const urlImg = e.target.dataset.img
	 const mainImg = document.querySelector(".product-test__image");
	 mainImg.src = urlImg;
	}
	})
	const imgUrl = "{{ test_product.images  }}";
  console.log("Картинка"+ imgUrl);
  

</script>

{% schema %}
{
  "name": "Product test",
  "tag": "section",
  "class": "section product-test",
  "settings": [
	{
	"type": "header",
	"content": "Налаштування картки "
	},
	{
	"type": "product",
	"id": "selected_product",
	"label": "Виберіть продукт"
}
  ],
  "presets": [
    {
      "name": "Product test"
    }
  ]
}
{% endschema %}

